{% extends "base.html" %}


{% block content %}

<a href="#" id="myModalButton" class="button">Click Me To Add Your Post</a>


<div id="myModal" class="reveal-modal">
    <form action="" method="post">
    <fieldset>
        <legend>New Blog Post</legend>
        {{ form.as_table }}
        {% csrf_token %}
        <div class="row">
            <input class="button" type="submit">
        </div>
    </fieldset>
    </form>
  <a class="close-reveal-modal" id="closeModal">&#215;</a>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      $("#myModalButton").click(function() {
          $('#myModal').foundation('reveal', 'open');
          });
      $("#closeModal").click(function() {
          $('#myModal').foundation('reveal', 'close');
    });
  });
</script>


{% endblock %}

