{% extends "base.html" %}


{% block content %}

<div class="row">
    <h1> All of the entries </h1>
</div>
    <!-- entries  -->
    <ul>
    {% for entry in entries %}
    <div class="row">
        <div class="title"><a href="{{ entry.get_absolute_url }}"> {{ entry.title }}</a></div>
    </div>
        <ul>
            <div class="row">
                <i> <div class="time">{{ entry.post_date }}</div> </i>
            </div>
            <div class="row">
                <div class="body">{{ entry.body|linebreaks }}</div>
            </div>
        </ul>
    {% endfor %}
    </ul>


{% endblock %}
