{% extends "front_base.html" %}


{% block front-content %}

<div class="row">
    <!-- entries  -->
    <ul>
        {% for entry in entries.object_list %}
            <div class="title"><a href="{{ entry.get_absolute_url }}"> {{ entry.title }}</a></div>
            <ul>
                <div class="time">{{ entry.post_date }}</div>
                <div class="body">{{ entry.body|linebreaks }}</div>
            </ul>
        {% endfor %}
    </ul>

</div>

<div class="row">
    {% if entries.object_list and entries.paginator.num_pages > 1 %}
    <ul class="pagination">
        {% if entries.has_previous %}
            <li class="arrow"><a href="?page={{ entries.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="arrow unavailable"><a href="?page={{ entries.previous_page_number }}">&laquo;</a></li>
        {% endif %}

        <li class="current"> Page {{ entries.number }} of {{ entries.paginator.num_pages }} </li>

        {% if entries.has_next %}
            <li class="arrow"><a href="?page={{ entries.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="arrow unavailable"><a href="?page={{ entries.next_page_number }}">&raquo;</a></li>
        {% endif %}
    {% endif %}
</div>


{% endblock %}
